<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signuppage</title>
</head>
<body>
    <div class="container">
        <h4>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </h4>
        <div class="form-group">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="firstname">firstname</label>
                    <input type="text" name="firstname" id="firstname" required="true">
                </div>
                <div>
                    <label for="lastname">lastname</label>
                    <input type="text" name="lastname" id="lastname" required="true">
                </div>
                <div>
                    <label for="username">username</label>
                    <input type="text" name="username" id="username" required="true">
                </div>
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password" required="true">
                </div>
                <div>
                    <label for="password1">password</label>
                    <input type="password" name="password1" id="password1" required="true">
                </div>

                <button type="submit">Register</button>
            </form>
            <button><a href="{% url 'signin' %}">Login</a></button>
        </div>
    </div>
    
</body>
</html>